<!-- <div class="columns">
  <div class="column is-one-third">
    <div class="field">
      <div class="file has-name is-primary is-fullwidth">
        <label class="file-label">
          <input
            class="file-input"
            type="file"
            name="file"
            #fileInput
            (change)="onChange(fileInput.files[0])"
            />
          <span class="file-cta">
            <span class="file-icon">
              <fa-icon [icon]="['fas', 'upload']"></fa-icon>
            </span>
            <span class="file-label">
              Choose a file…
            </span>
          </span>
          <span class="file-name">
            {{ fileName }}
          </span>
        </label>
      </div>
    </div>

    <article class="message" *ngIf="infoMessage">
      <div class="message-body">
        {{ infoMessage }}
      </div>
    </article>

    <div class="field" *ngIf="!infoMessage">
      <div class="control">
        <progress
          class="progress is-primary"
          [attr.value]="progress"
          max="100"
        ></progress>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <button
          class="button is-primary"
          (click)="onUpload()"
          [attr.disabled]="isUploading ? '' : null">
          Upload
        </button>
      </div>
    </div>
  </div>
  <div class="column">
    <figure class="image is-128x128">
      <img [src]="imageUrl" />
    </figure>
  </div>
</div> -->

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
    <mat-nav-list>
      <a mat-list-item href="#"> Menu 1 </a>
      <a mat-list-item href="#"> Menu 2 </a>
    <mat-list-item style="cursor: pointer" routerLink="/base/dashboard" [routerLinkActive]="['is-active']">Dashboard</mat-list-item>
    <mat-list-item style="cursor: pointer" routerLink="/base/notification" [routerLinkActive]="['is-active']">Notification</mat-list-item>
    <mat-list-item style="cursor: pointer" routerLink="/base/comments" [routerLinkActive]="['is-active']">Comments</mat-list-item>
   </mat-nav-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>

    <button mat-button (click)="openDialog()">Open dialog</button>

    
  </div>

  <div class="example-button-container">
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  
</mat-drawer-container>